<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=192.168.221.254,1444;Initial Catalog=NovelBook;User ID=sa;Password=yhdtpass" />
  </connectionStrings>
</configuration>